/* Wide layout for app pages */
main.container-xxl {
  max-width: 100%;
}

/* Layout for app metric cards */
.metrics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.metric-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: .5rem;
}

.metric-card.success {
  border: 1px solid #198754;
  background: rgba(25, 135, 84, 0.15);
}

.metric-card.warning {
  border: 1px solid #ffc107;
  background: rgba(255, 193, 7, 0.15);
}

.metric-card.danger {
  border: 1px solid #dc3545;
  background: rgba(220, 53, 69, 0.15);
}
