{% extends 'base.html' %}

{% block content %}
<div class="row">
  <aside class="col-md-3 col-lg-2 mb-4">
    <div class="list-group">
      <a href="{{ url_for('core.generador') }}" class="list-group-item list-group-item-action {{ 'active' if request.endpoint=='core.generador' else '' }}">Generador</a>
      <a href="{{ url_for('core.erlang') }}" class="list-group-item list-group-item-action {{ 'active' if request.endpoint=='core.erlang' else '' }}">Erlang</a>
      <a href="{{ url_for('core.kpis') }}" class="list-group-item list-group-item-action {{ 'active' if request.endpoint=='core.kpis' else '' }}">KPIs</a>
      <a href="{{ url_for('core.timeseries') }}" class="list-group-item list-group-item-action {{ 'active' if request.endpoint=='core.timeseries' else '' }}">Series</a>
    </div>
  </aside>
  <div class="col">
    {% block app_content %}{% endblock %}
  </div>
</div>
{% endblock %}
